fastapi
uvicorn
sentence-transformers
scikit-learn
psycopg2-binary
sqlalchemy
python-dotenv
pydantic
python-jose[cryptography]
passlib[argon2]
python-multipart
pydantic[email]
langchain-google-genai
langchain-community
langchain-chroma
pypdf
chromadb
pytest
pytest-asyncio
httpx